$brand-orange: #ff5a00;
$light-grey: #e5e5e5;
$dark-grey: #828282;

/* #Site Styles
================================================== */
.page-footer {
	clear:both;
}

/* #Navigation Styles
================================================== */
.nav {
	position:relative;
	display:inline-block;
	width:763px;
	background:$brand-orange;
	.nav-list {
		text-align:left;
		.nav-item {
			float:left;
			*display:inline;
			zoom:1;
			margin-bottom:0;
			margin-right:25px;
			/*position:relative;*/
			a {
				display:block;
				text-decoration: none;
				color:#fff;
				padding:15px 20px;
				background:$brand-orange;
				font-size:18pt;
			}
			> a:hover {
				color:$brand-orange;
				background:#6f2c07 url(../images/bg_nav_hover.png) 50% 85% no-repeat;
			}
			&:hover .nav-submenu {
				display:block;
			}
			.nav-submenu {
				margin:0;
				.nav-submenu-item {
					margin-bottom:0;
					a {
						display:block;
						padding:15px;
						background:#fff;
						color:#828282;
						&:hover {
							background-color:$dark-grey;
							color:#fff;
						}
					}
				}
			}
		}
	}
}
.cart {
	float:right;
	color:#fff;
}
/* Mobile navigation */
.nav-mobile {
	display:none; /* Hide from browsers that don't support media queries */
	cursor:pointer;
	position:absolute;
	top:0;
	right:0;
	background:#3D3D3B url(../img/nav.svg) no-repeat center center;
	background-size:18px;
	height:50px;
	width:50px;
}
/* Mobile navigation, clickable area for revealing <ul> */
.nav-click {
	position:absolute;
	top:0;
	right:0;
	display:none;
	border-left:1px solid #8B2870;
	height:49px;
	width:50px;
	cursor:pointer;
	i {
		display:block;
		height:48px;
		width:48px;
		background:url(../img/drop.svg) no-repeat center center;
		background-size:20px;
	}
	&:hover {
		background-color:#6E1656;
	}
}
.nav-rotate {
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}

/* #Media Queries
================================================== */
	@media only screen and (min-width:768px) {
		.nav {
			-webkit-border-top-left-radius: 5px;
			-webkit-border-bottom-left-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-bottomleft: 5px;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			.nav-list {
				margin-left:5px;
				.nav-item {
					.nav-submenu {
						background:#fff;
						border-style: solid;
						border-color: $light-grey;
						border-left-width: 8px;
						border-right-width: 8px;
						border-bottom-width: 8px;
						display:none;
						position:absolute;
						left:2px;
						width:745px;
						margin:-1px 0 0 0;
						padding:40px 0 30px 0;
						overflow:hidden;
						border-bottom-left-radius:10px;
						-moz-border-bottom-left-radius:10px;
						-webkit-border-bottom-left-radius:10px;
						border-bottom-right-radius:10px;
						-moz-border-bottom-right-radius:10px;
						-webkit-border-bottom-right-radius:10px;
						.nav-submenu-item a {
							padding:10px 10px 10px 70px;
						}
						li.featured {
							position:absolute;
							top:0;
							right:0;
							width:455px;

							a {
								background-color:#fff;
								background-image: url(../images/monitor.png);
								background-repeat:no-repeat;
								background-position:10px 40px;
								padding:40px 80px 100px 255px;
								box-sizing:border-box;
								-moz-box-sizing:border-box;
								background-size:230px;
								color:$dark-grey;
								span {
									display:block;
									font-weight:bold;
									line-height:normal;
								}
								.tag {
									background-color:$brand-orange;
									border-radius:3px;
									-moz-border-radius:3px;
									-webkit-border-radius:3px;
									color:#fff;
									font-size:8pt;
									text-transform:uppercase;
									float:left;
									padding: 0 4px;
								}
								.product {
									clear:both;
									display:block;
									font-size:13pt;
									margin:20px 0;
								}
								.price {

								}
							}
						}
					}
				}
			}
		}
		
	}
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}

	@media only screen and (min-width: 320px) and (max-width: 768px) {
		.nav-mobile {
			display:block;
		}
		.nav {
			width:100%;
			padding:50px 0 0;
		}
		.nav-list {
			display:none;
		}
		.nav-item {
			width:100%;
			float:none;
		}
		.nav-item > a {
			padding:15px;
		}
		.nav-click {
			display:block;
		}
		.nav-mobile-open {
			border-radius:5px 5px 0 0;
			-webkit-border-radius:5px 5px 0 0;
			-moz-border-radius:5px 5px 0 0;
		}
		.nav-item:hover .nav-submenu {
			display:none;
		}
		.nav-submenu {
			position:static;
			width:100%;
		}
	}

/* #Page Styles
================================================== */
.hero {
	padding:345px 0 0 0;
	height:0;
	overflow:hidden;
	background:url(../images/hero_01_discover.jpg) top center no-repeat;
	margin:0 !important;

	.cta {
		position:absolute;
		top:270px;
		color:#fff;
	}
}
a.feature {
	padding-left:10px;
	background-image:url(../images/spr_ico_features_02.jpg);
	background-repeat:no-repeat;
	float:left;
	margin-bottom:18px;
}
.newdashboard {
	background-position:0 0;
	&:hover {
		background-position:0 0;
	}
}
.nowinthecloud {
	background-position:0 0;
	&:hover {
		background-position:0 0;
	}
}
.manageyourprofile {
	background-position:0 0;
	&:hover {
		background-position:0 0;
	}
}